body {
    height:100%;
    margin:0;
    border:0;
    padding:0;
    overflow-x:hidden;
}
h3{
    margin: 0;
    padding: 0;
}
button{
    border: none;
}
p{
    margin: 0;
    padding: 0;
}
/* li{
    float:left;
} */
/* .wrap{
,.containerSecond,.containerThird,.containerFourth,.containerFfith
} */

.wrap{
    width: 100%;
    height:100%;
}
.fixed-btn{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 46px;
    display: inline-block;
    min-width: 320px;
    padding: 19px 50px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    border-radius: 38px;
    background-color: #282F32;
    box-shadow: 0px 8px 12px 0px #00000052;
    opacity: 0;
    cursor: pointer;
    transition: vsibility 4s, opacity .4s ease;
    z-index: 999;
}

.commonpopup{
    width: 400px;
    height: 600px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
    z-index: 999;
}
.backdrop{
    width:100%;
    height:100%;
    position:fixed;
    z-index: 998;
    backdrop-filter: contrast(.2);
    transition: all 0.3s ease;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}
/* 첫번째 뷰 */

.intro-box{
    width: 100%;
    height: 800px;
    padding-left : 5%;
    background-image: url("../image/batang.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.intro-img{
    margin-top: 10%;
    margin-bottom: 50px;
    width: 320px;
    height: 60px;
}
.intro-headtext{
    font-size: 70px;
    margin-top : 10px;
    color : white;
    font-weight: bolder;
}
.intro-text{
    font-size: 20px;
    color : white;
    font-weight: 400r;
}
.intro-btn{
    background-color: #00c4bd;
    font-size: 20px;
    color : white;
    font-weight: 400r;
    border-radius: 32.5px;
    border : none;
    width: 220px;
    height: 65px;
    margin-top: 55px;
}

/* 두번째 뷰 */

.containerFirst{
    padding: 160px 0 160px;
    width: 100%;
    height: 700px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.fp-text{
    font-size: 70px;
    font-weight: 1000;
    display:flex;
    justify-content: center;
}
.fp-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap : 60px;
    margin-top : 60px;
}
.fp-li{
    width:220px;
    height:300px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.fp-li-num{
    width: 25px;
    height: 25px;
    position: absolute;
    text-align: center;
    color: white;
    font-weight: 400;
}
.fp-imgicon{
    width:  30px;
    height: 30px;
    position: absolute;
}
.fp-p{
    margin-top: 20%;
    font-size: 25px;
    font-weight: bold;
}
.fp-p-text{
    font-size: 17px;
    font-weight: 200;
}
.fp-margin{
    margin-left: 30px;
}

/* 세번째 뷰 */
.containerSecond{
    padding: 50px 0 70px;
    width: 100%;
    height: 700px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}
.sp-text{
    font-size: 70px;
    font-weight: 1000;
    display:flex;
    justify-content: center;
}
.sp-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.sp-box-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    margin-top:40px;
}
.sp-box-box1{
    margin-top:40px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 100%;
    margin-left: 100px;
}
.sp-box-inbox{
    display:flex;
    justify-content: center;
    width: 250px;
}
.sp-p{
    font-size: 23px;
    font-weight: 1000;
}
.sp-spanbox{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.sp-count{
    display : block;
}
.sp-num{
    list-style: none;
    font-size: 45px;
    font-weight: 1000;
}
.sp-text{
    font-size: 45px;
    font-weight: 1000;
}
.sp-text1{
    font-size: 45px;
    font-weight: 400;
    margin-left: 20px;
}
.sp-num1{
    list-style: none;
}
.sp-num2{
    list-style: none;
}
.sp-box-img{
    width:  120px;
    height: 120px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 5px 5px 3px #666;
    margin-bottom: 20px;
    margin-top: 20px;
}
.sp-box-column{
    text-align: center;
}
.sp-box-text{
    color: #9FA9AB;
    font-size: 18px;
    font-weight: 700;
}
.sp-centerline{
    content: '';
    position: absolute;
    left: -64px;
    width: 1px;
    height: 100%;
    background-color: #d9d9d9;
}

/* 네번째 뷰 */
.thp-text{
    font-size: 70px;
    font-weight: 1000;
    display:flex;
    justify-content: center;
}
.thp-text1{
    font-size: 40px;
    font-weight: 1000;
    display:flex;
    justify-content: center;
    color: #00c4bd;
}
.containerThird{
    padding: 160px 0 0px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
}
.thp-box-box{
    width: 970px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 80px auto 0;
}
.thp-img{
    width: 140px;
    height: 140px;
}
.thp-tag{
    width: 110px;
    height: 42px;
    background-image: url(../image/icon__trans-tag.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.thp-line{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 100%;
    background-size: 80% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../image/icon__trans-line02.png);
}
.thp-content-box{
    position: relative;
    padding-left:45px;
    padding-right:45px;
}

/* 다섯번째 뷰 */
.fop-text{
    font-size: 70px;
    font-weight: 1000;
    display:flex;
    justify-content: center;
}
.fop-text1{
    font-size: 30px;
    font-weight: 1000;
    display:flex;
    justify-content: center;
    color: #00c4bd;
}
.containerFourth{
    padding: 0 0 160px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
}
.fop-flex{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.fop-img{
    /* width:220px; */
    height:138px;
}
.fop-box{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 55px;
}
.fop-box-text{
    margin-top:30px;
    font-size: 24px;
    font-weight: 700;
}
.fop-box-box{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.fop-btn{
    position: relative;
    display: inline-block;
    margin: 90px 0 48px;
    padding: 14px 40px;
    border-radius: 30px;
    background-color: #00C4BD;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    cursor: pointer;
}
.fop-btnbox{
    display: flex;
    justify-content: center;
    position: relative;
}
.fop-btnbox::after{
    content: '';
    position: absolute;
    top: 145px;
    width: 223px;
    height: 36px;
    background: url(../image/benefit__txt.png) no-repeat center / 100% auto;
    pointer-events: none;
}

/* 여섯번째 뷰 */
.ffp-text{
    font-size: 70px;
    font-weight: 1000;
    display:flex;
    justify-content: center;
}
.ffp-text1{
    font-size: 20px;
    font-weight: 1000;
    display:flex;
    justify-content: center;
    color: #00c4bd;
}
.containerFifth{
    padding: 160px 0 160px;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    /* transform: translateX(-50%); */
    /* overflow: hidden; */
    will-change: transform;
    margin-top: 80px;
}
.swiper-slide{
    height: 100%; 
}
.swiper-wrapper:nth-child(1){
    width: 200px;
    height: 350px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 150px;

    transition: transform 0.5s ease, opacity 0.5s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)scale(1.2);
    border-radius: 16px;
    box-shadow: 0px 8px 6px -6px #666;
    will-change: transform;
    z-index: 1;
}
.swiper-wrapper:nth-child(1)::after{
    content :'';
       position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    border-radius: 16px;
    background-color: black;
    cursor: pointer;
    opacity: 0.4;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.swiper-wrapper:nth-child(2){
    width: 200px;
    height: 350px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 150px;

    transition: transform 0.5s ease, opacity 0.5s ease;
    position: absolute;
    left: 50%;
    transform: translateX(100%);
    border-radius: 16px;
    box-shadow: 0px 8px 6px -6px #666;

}
.swiper-wrapper:nth-child(2)::after{
	    content :'';
   	    position : absolute;
    	top : 0;
    	left : 0;
        width : 100%;
        height : 100%;
        border-radius: 16px;
        background-color: black;
        cursor: pointer;
        opacity: 0.4;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
.swiper-wrapper:nth-child(3){
    width: 200px;
    height: 350px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 150px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: absolute;
    transform: translateX(250%);
    left: 50%;
    border-radius: 16px;
    box-shadow: 0px 8px 6px -6px #666;
}
.swiper-wrapper:nth-child(3)::after{
	content :'';
   	position : absolute;
    	top : 0;
    	left : 0;
        width : 100%;
        height : 100%;
        border-radius: 16px;
        background-color: black;
        cursor: pointer;
        opacity: 0.4;
        transition: all 0.5s;
    }
.swiper-wrapper:nth-child(4){
    width: 200px;
    height: 350px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 150px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: absolute;
    transform: translateX(400%);
    left: 50%;
    border-radius: 16px;
    box-shadow: 0px 8px 6px -6px #666;
}   
.swiper-wrapper:nth-child(4)::after{
	content :'';
   	position : absolute;
    	top : 0;
    	left : 0;
        width : 100%;
        height : 100%;
        border-radius: 16px;
        background-color: black;
        cursor: pointer;
        opacity: 0.4;
        transition: all 0.5s;
    }
.swiper-wrapper.no-after::after {
        opacity: 0;
}
.slide-img{
    width: 200px;
    height: 350px;
    border-radius: 16px;
}
.swiper-text{
    height: 15px;
    white-space: nowrap;
    text-align: center;
    font-weight: 700;
    /* display:none; */
}
.swiper-text:nth-child(2){
    display: none;
}
.swiper-text:nth-child(3){
    display: none;
}
.swiper-text:nth-child(4){
    display: none;
}
.swiper-btnbox{
    display: flex;
    justify-content: center;
    gap : 15px;
    margin-bottom: 20px;
    margin-top:-400px;
}
.swiper-btn{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background-color: #00c4bd;
    z-index: 2;
    opacity: 0.2;
}
.swiper-btn:hover{
    cursor: pointer;
}
.ffp-btnbox{
    display: flex;
    justify-content: center;
    position: relative;
}
.ffp-btn{
    padding: 14px 40px;
    border-radius: 30px;
    background-color: #00C4BD;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .wrap{
        padding: 0, 20% ;
    }
    .intro-headtext{
        font-size: 30px;
        margin-top : 10px;
        color : white;
        font-weight: bolder;
    }
    .fp-text{
        font-size: 30px;
        margin-top : 10px;
        font-weight: bolder;
    }
    .sp-text{
        font-size: 30px;
    }
    .sp-text1{
        font-size: 30px;
    }
    .sp-num{
        font-size: 30px;
    }
    .sp-box-box1{
        display:none;
    }
    .ffp-text{
        font-size: 30px;
    }
    .fop-text{
        font-size: 30px;
    }
    .thp-text{
        font-size: 30px;
    }
    .thp-text1{
        font-size: 20px;
    }
    .thp-box-box{
        display: none;
    }
    .fp-ul{
        display:none;
    }
    .intro-box{
        align-content: center;
    }
    .containerFirst{
        height: 30px !important;
    }
    .containerSecond{
        height: 400px;
    }
    .containerThird{
        height: 300px;
    }
    .containerFourth{
        height: 300px;
    }
    .containerFifth{
        height: 500px;
    }
    .fixed-btn{
        font-size:30px;
    }
    .ffp-btnbox{
        display: none;
    }
    .intro-text{
        display:none;
    }
    .intro-btn{
        display:none;
    }
}