@font-face {
  font-family: "Hanna";
  src: url("../font/BMHANNAPro.ttf");
}

.containerfooter {
  height: 72px;
  display: flex;
  align-items: center;
  /* padding: 0 80px; */
  height: 72px;
  /* white-space: nowrap; */
  border-top: 1px solid black;
  font-size: 14px;
  margin-top: 20px;
  justify-content: space-around;

  font-family: "Hanna";
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
.footerbold {
  font-weight: bold;
}

.footerul {
  list-style: none;
  display: flex;
  gap: 10px;
  /* margin-left:100px; */
}
.footerul li {
  position: relative;
  margin-left: 25px;
}
.footerul li:last-child::before {
  content: none;
}

/* 세로줄 추가 */
.footerul li + li::before {
  content: "";
  position: absolute;
  top: 10%;
  right: -7%;
  width: 1px;
  height: 80%;
  background-color: #d9d9d9;
}

/* 이 css로 높이 조정 */

@media screen and (max-width: 768px) {
  .footergap {
    display: none;
  }
  .containerfooter {
    max-width: 1280px;
    /* width: 100%; */
    height: 72px;
    display: flex;
    align-items: left;
    padding: 0 5px;
    height: 72px;
    /* white-space: wrap; */
    border-top: 1px solid black;
    font-size: 12px;
    margin-top: 20px;
    overflow: hidden;
  }
  .footerul li {
    position: none;
    margin-left: 0;
    width: 100px;
  }
  .footerul li:last-child::before {
    content: none;
  }

  .footerul li + li::before {
    content: "";
    position: none;
    top: 10%;
    right: -7%;
    width: 1px;
    height: 80%;
    background-color: #d9d9d9;
    display: none;
  }
  .footerul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-left: 0;
  }
}
