@font-face {
    font-family: "Hanna";
    src: url("../font/BMHANNAPro.ttf");
  }



html {
    height:100%;
}
body {
    height:100%;
    margin:0;
    border:0;
    padding:0;
    overflow:hidden;
    font-family: "Hanna";
}
.wrap {
    position: relative;
    top:0;
    width:100%;
    height:100%;
    transition: 0.5s;
}
.zindex{
    z-index: 999;
}
.containerFirst{
    Background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: center;
    width:100%;
    height:100%;
    transform: scale(1);
    }
.containerSecond{
    Background-size: cover;
    background-position: center;
    position: relative;
    background-color: #00c4bd;
    width:100%;
    height:100%;}
.containerThird{
    background-color: #00c4bd;
    width:100%;
    height:100%;
    }
.containerFourth{
    background-color: #00c4bd;
    width:100%;
    height:100%;
}
/* footer */
.footerlist{
    list-style: none;
    width: 200px;
}
.footerimg{
    width: 140px;
    height: 50px;
}
.footerbox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top:30px;
    padding: 10%;
}
.footericon{
    display: flex;
    flex-direction: row;
}
.footerlogo{
    width: 350px;
    height: 300px;
    position: absolute;
    top: 20%;
    right: 30%;
}

/* up */
.upicon{
    position: fixed;
    bottom : 3%;
    right : 3%;
    z-index: 1;
    width: 30px;
    height: 45px;
    display: none;
}
.upicon:hover{
    cursor: pointer;
}
.firstpage{
    width: 80%;
    height: 80%;
    padding-left:15%;
    padding-right:15%;
    padding-top:15%;
    display: flex;
    flex-direction: column;
}
.secondpage{
    width: 80%;
    height: 80%;
    padding-left:15%;
    padding-right:15%;
    padding-top:15%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.thirdpage{
    width: 80%;
    height: 80%;
    padding-left:15%;
    padding-right:15%;
    padding-top:15%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.headbox{
    width: 550px;
    height: 300px;
}
.head{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}
p{
    margin : 0px 0px 0px 0px;
    line-height: 140%;
}
.p{
    margin-top:30px;
    font-weight:bold;
    color: white;
}
.p2{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50%;
    font-weight: bolder;
    color: white;
}
.p3{
    color:white;
}
.a{
    display: flex;
    justify-content: space-between;
}
.margin-left{
    margin-left: 20px;
}
.image{
    margin-top: 20px;
    width: 180px;
    height: 70px;
}
.image1 {
    width: 100px;
    height: 100px;
}   
    .Navibox{
        padding-left:15%;
    }
    .Navibar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* justify-content: center; */
        width: 70%;
        padding-top: 70px;
        position: fixed;
        z-index: 2;
    }
    .headb{
        height: 40px;
    }
    .icon{
        width: 40px;
        height: 40px;
        margin: 3px;
    }
    .icon2{
        width: 140px;
        height: 50px;
        margin: auto;
        margin-left: 10px;
        display : none;
    }
    .icon3{
        width: 40px;
        height: 40px;
        margin: 3px;
    }
    .scroll{
        position: fixed;
        z-index: 2;
        left: 50%;
        bottom: 0;
        width: 100px;
        margin-bottom: 10px;
        box-shadow: 0px 8px 6px -6px #666
    }
    @media screen and (max-width:1100px){
        .footerlogo{
            display:none;
        }
    }
    @media screen and (max-width:768px){
        .Navibar{
        padding-top: 20px;
        margin : 0;
          }
        
        .icon{
            display:none;
        }
        .dot{
            display:none;
        }
        .imgB{
            display:none;
            left: -50%;
        }
        .imgB2{
            display:none;
        }
        .imgB3{
            display:none;
        }
        .headbox{
            width: 350px;
            height: 50%;
        }
        .head{
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
        }
        .margin-left{
            margin:0;
        }
 
    }
    .dot{
        z-index : 2;
        position: fixed;
        list-style: none;
        right : 0;
        bottom : 35%;
    }
    .image:hover{
        cursor: pointer;
    }
    .btn:hover{
        cursor: pointer;
        content: url("../image/dotSelect@2x.c333164a.png");
        transform:scale(1.0)
    }
    .icon:hover{
        transform: scale(0.9);
        cursor: pointer;
    }

    .dropdown{
        /* display:flex; */
        z-index: 2;
        position: fixed;
        max-width: 260px;
        max-height: 100px;
        width: 100%;
        height: 100%;
        background-color: none;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 16px;
        /* right: -100px; */
        right: -170px;
        top: 10%;
        display: flex;
        flex-direction: row;
        /* box-shadow: 0px 4px 4px #666; */
        visibility: visible;
        font-family: "Hanna";
    }
    .dropdown-menu-box1{
        max-height:200px;
        height: 100%;
        width: 40%;
        background-color: none;
        align-content: center;
        ;
    }
    .dropdown-menu-box2{
        max-height:200px;
        height: 100%;
        width: 60%;
        background-color: none;
        align-content: center;
        ;
    }
    .menu-content{
        color:white;
        text-align: center;
        margin-top:10%;
        font-size: 20px;
        font-weight:bolder;

    }
        .menu-content:hover{
            transform: scale(1.1);
            cursor: pointer;
            text-decoration:underline;
        }
    .rider{
        width: 100px;
        height: 100px;
    }
        .rider:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
    

/* second */
.imgB{
    width:  650px;
    height: 700px;
    position:absolute;
    bottom: 30px;
    z-index: 1;
    right : 0%;
    opacity: 0;
}

/* third */

.imgB2{
    width:  650px;
    height: 700px;
    position:absolute;
    bottom: 30px;
    z-index: 1;
    right : 0%;
    opacity: 0;
}

/* fourth */

.imgB3{
    width:  650px;
    height: 750px;
    aspect-ratio: 1/1;
    position:absolute;
    bottom: 30px;
    z-index: 1;
    right : 0%;
    opacity: 0;
}

.test1{
    position: relative;
}
.test{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}